<html>
    <head>
        <title>
Book Bin
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <style>
        
                .headtxt{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: cursive;
        }
         .thumbnail img{
            max-height: 150px;
        }
                </style>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f79d26;">
  <a class="navbar-brand" href="./index.html" style="color: rgb(13, 52, 226)"  >Book Bin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                    <a class="nav-link" href="./index.html">Home</a>
                  </li>
     
      <li class="nav-item">
        <a class="nav-link" href="./bin.html">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./about.html">About</a>
      </li>
    </ul>
    <button type="button" class="btn btn-primary">Login</button>
   
  </div>
</nav>
<img src="https://wallpapercave.com/wp/wp2297898.jpg" class="img-fluid" alt="Responsive image">
<div class="headtxt"  style="color: rgb(13, 159, 226)"  >
        <h1>
    Bin
        </h1>
    </div>
<div class="p-3 mb-2 bg-info text-white">
    <br>
        <h1> Our Books . . .</h1>
        <hr>
        <br>
        <div class = "row">
   
                <div class = "col-sm-6 col-md-3">
                   <a href = "https://jignesh272.files.wordpress.com/2011/09/object-oriented-programming-using-c-sharp.pdf" class = "thumbnail">
                      <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                      
                   </a>
<h3>C</h3>                  
                </div>
                
                
                <div class = "col-sm-6 col-md-3">
                   <a href = "https://memberfiles.freewebs.com/74/74/55387474/documents/Java%20The%20Complete%20Reference,%207th%20Edition.pdf" class = "thumbnail">
                      <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                   </a><h3>Java</h3> 
                </div>
                
                <div class = "col-sm-6 col-md-3">
                   <a href = "https://jignesh272.files.wordpress.com/2011/09/object-oriented-programming-using-c-sharp.pdf" class = "thumbnail">
                      <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                   </a><h3>C#</h3> 
                </div>
                
                <div class = "col-sm-6 col-md-3">
                   <a href = "#" class = "thumbnail">
                      <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                   </a><h3>C++</h3> 
                </div>
                
             </div>
             <br>
             <div class = "row">
   
                    <div class = "col-sm-6 col-md-3">
                       <a href = "#" class = "thumbnail">
                          <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                          
                       </a>
    <h3>php</h3>                  
                    </div>
                    
                    
                    <div class = "col-sm-6 col-md-3">
                       <a href = "#" class = "thumbnail">
                          <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                       </a><h3>Python</h3> 
                    </div>
                    
                    <div class = "col-sm-6 col-md-3">
                       <a href = "#" class = "thumbnail">
                          <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                       </a><h3>Ruby</h3> 
                    </div>
                    
                    <div class = "col-sm-6 col-md-3">
                       <a href = "#" class = "thumbnail">
                          <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                       </a><h3>Grails</h3> 
                    </div>
                    
                 </div>
                 <br>
                 <div class = "row">
   
                        <div class = "col-sm-6 col-md-3">
                           <a href = "#" class = "thumbnail">
                              <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                              
                           </a>
        <h3>Pearl</h3>                  
                        </div>
                        
                        
                        <div class = "col-sm-6 col-md-3">
                           <a href = "#" class = "thumbnail">
                              <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                           </a><h3>Ajax</h3> 
                        </div>
                        
                        <div class = "col-sm-6 col-md-3">
                           <a href = "#" class = "thumbnail">
                              <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                           </a><h3>Jquery</h3> 
                        </div>
                        
                        <div class = "col-sm-6 col-md-3">
                           <a href = "#" class = "thumbnail">
                              <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                           </a><h3>Html</h3> 
                        </div>
                        
                     </div>
                     <br>
                     <div class = "row">
   
                            <div class = "col-sm-6 col-md-3">
                               <a href = "#" class = "thumbnail">
                                  <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                                  
                               </a>
            <h3>Css</h3>                  
                            </div>
                            
                            
                            <div class = "col-sm-6 col-md-3">
                               <a href = "#" class = "thumbnail">
                                  <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                               </a><h3>Node Js</h3> 
                            </div>
                            
                            <div class = "col-sm-6 col-md-3">
                               <a href = "#" class = "thumbnail">
                                  <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                               </a><h3>Angular Js</h3> 
                            </div>
                            
                            <div class = "col-sm-6 col-md-3">
                               <a href = "#" class = "thumbnail">
                                  <img src = "https://wallpapercave.com/wp/wp3903767.jpg" alt = "Generic placeholder thumbnail">
                               </a><h3>Vue Js</h3> 
                            </div>
                            
                         </div>


</div>

<div class="p-3 mb-2 bg-light text-dark">
    <h1>Contact Us</h1>
        
        <div class="footer" id="footer">
                <div class="footer-section" style="text-align: center;" id="footer-logo">
                <a href="/">
                <img src="https://wallpapercave.com/wp/wp3903756.jpg" width="175"  title="PDF Search Engine" alt="PDF Search Engine" style="padding-top: 45px;"/>
                </a>
                </div>
                <div class="footer-section">
                <div class="footer-title" title="0.1030 / 24-02-2019 04:27:12 / 95.216.69.87">
                Company </div> <br/>
                <a href="/home/about" rel="nofollow">About</a><br/>
                <a href="/app">Mobile App</a><br/>
                <a href="/home/terms" rel="nofollow">Terms & Privacy</a><br/>
                </div>
                <br>
                <div class="footer-section">
                <div class="footer-title">Social</div><br/>
                <a href="https://twitter.com/pdfdrive" target="_blank">Twitter</a><br/>
                <a href="https://www.facebook.com/pdfdrive" target="_blank">Facebook</a><br/>
                <a href="/donate">Donate ♥</a><br/>
                </div>
                <br>
                <div class="footer-section">
                <div class="footer-title">Help</div><br/>
                <a href="/home/contact" rel="nofollow">Contact us</a><br/>
                <a href="/home/contact" rel="nofollow">Feedback</a><br/>
                <a href="/home/dmca" rel="nofollow">DMCA & Copyright</a><br/>
                </div>
                <div style="clear:both"></div>
                </div>
                </div>


        <br><br>
</div>





















<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>